[defaults]
roles_path = ./roles
private_key_file=~/.ssh/ansible_ssh
host_key_checking=True
interpreter_python=auto

[privilege_escalation]

[persistent_connection]

[connection]

[colors]

[selinux]

[diff]

[galaxy]

[inventory]

[netconf_connection]

[paramiko_connection]

[jinja2]

[tags]
