theme: light

pages:
  - name: Home
    columns:
      - size: full
        widgets:
          - type: bookmarks
            groups:
              - title: Homelab Services
                links:
                  # --- THE ANSIBLE MAGIC LOOP ---
                  {% for host in groups['all'] %}
                  {% if hostvars[host]['services'] is defined %}
                  {% for svc in hostvars[host]['services'] %}
                  - title: {{ svc.subdomain | capitalize }}
                    url: "https://{{ svc.subdomain }}.yourdomain.com"
                  {% endfor %}
                  {% endif %}
                  {% endfor %}
                  # ------------------------------
