{%- set ns = namespace(services=[]) %}
{%- for host in groups['all'] %}
  {%- if hostvars[host]['services'] is defined %}
    {%- for svc in hostvars[host]['services'] %}
      {%- if svc['icon'] is defined %}
        {%- set ns.services = ns.services + [svc] %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}
{%- endfor %}

- name: Home
  width: slim
  # hide-desktop-navigation: true
  center-vertically: true
  columns:
    - size: full
      widgets:
        - type: search
          search-engine: google
          bangs:
            - title: YouTube
              shortcut: "!yt"
              url: https://www.youtube.com/results?search_query={QUERY}
            - title: Reddit
              shortcut: "!r"
              url: https://www.reddit.com/search?q={QUERY}
            - title: GitHub
              shortcut: "!gh"
              url: https://github.com/search?q={QUERY}

        - type: monitor
          cache: 1m
          title: Service
          sites:
            {%- for svc in ns.services %}

              - title: {{ svc.title | default(svc.subdomain | capitalize) }}
                url: "https://{{ svc.subdomain }}.jmnogueira.pt"
                icon: "{{ svc.icon | default('si:server') }}"
            {%- endfor %}

        - type: bookmarks
          groups:
            - title: General
              links:
                - title: Gmail
                  url: https://mail.google.com/mail/u/0/
                - title: Github
                  url: https://github.com/
                - title: Reddit
                  url: https://reddit.com/

            - title: Coding
              links:
                - title: Hacker Rank
                  url: https://www.hackerrank.com/
                - title: Leet Code
                  url: https://www.leetcode.com/

        - type: iframe
          label: Proxmox
          source: https://your_iframe_url_1
          height: 400
